@model IEnumerable<StudentApp.Object.DTOs.Exam.StudentMarksDto>

@{
    ViewData["Title"] = "StudentMarksRecord";
}

<h1>Student Marks</h1>

<p>
    <a asp-action="CreateStudentMarks">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObtainedMarks)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ObtainedMarks)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "DeleteMarks", new { id=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
